#main {
    padding: 0 25px;
}

#input {
    width: 270px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

#clear {
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

#copy {
    font-style: italic;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

#title, .outputMac {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    max-width: 350px;
}

.outputMac:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

