body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #454545;
    border-color: #454545;
    font-size: 1em;
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.3em;
    margin: 0 auto;
    max-width: 80%;
}

#inputContainer {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 2.5em;
}
#outputContainer {
    max-width: fit-content;
}

#input {
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    margin-right: 10px;
    font-size: 1em;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
#clear {
    flex-shrink: 0;
    max-width: 2.5em;
    border-radius: 15%;
    border: 0.1em solid #454545;
    transition: all 0.2s linear;
}

#clear:active {
    transform: rotate(-90deg);
    transition: all 0s linear;
}

#clear:hover {
    cursor: pointer;
}


#title {
    font-size: 2em;
    margin: 0.2em 0;
}

#copy {
    font-style: italic;
}

.outputMac {
    display:none;
    border-radius: 5px;
    padding: 0.3em 0.5em;
    margin: 0.1em;
}

.outputMac:hover {
    color: white;
    background-color: #454545;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    #main {
        max-width: 640px;
    }
}