body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #454545;
    border-color: #454545;
}

#main {
    padding: 0 25px;
}

#input {
    width: 270px;
    height: 30px;
    font-size: 18px;
    border: #454545 1px solid;
    border-radius: 5px;
}

#clear {
    height: 30px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    background-color: white;
    border: #454545 1px solid;
    border-radius: 5px;
}

#clear:hover {
    background-color: #454545;
    color: white;
}

#copy {
    font-style: italic;
    font-weight: 100;
    font-size: 25px;
}

#title, .outputMac {
    font-size: 25px;
    max-width: 350px;
    border-radius: 5px;
    padding: 5px 15px;
}

#title {
    padding-left: 0;
    font-weight: bold;
}

.outputMac:hover {
    background-color: 454545;
    color: white;
    background-color: #454545;
    cursor: pointer;
}

